:root {
  --score-container-backdrop-start: #6744ff;
  --score-container-backdrop-end: #352bec;
  --score-backdrop-start: #4e25cc;
  --score-backdrop-end: #4835f1;
  --opacity: 0.4;
}

body {
  font-size: 18px;
  background-color: #ffffff;
  display: flex;
  place-items: center;
  height: 100dvh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 510px;
  width: 740px;
  margin: 0 auto;
}

.container-item {
  flex: 1 1 0;
}
.container-left {
  background-image: linear-gradient(
    var(--score-container-backdrop-start),
    var(--score-container-backdrop-end)
  );
  border-radius: 0.8rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: hsl(0, 0%, 100%);
}

.container-left__heading {
  text-align: center;
  opacity: var(--opacity);
  font-size: 1.3em;
}

.container-left__score {
  background-image: linear-gradient(
    var(--score-backdrop-start),
    var(--score-backdrop-end)
  );
  border-radius: 50%;
  height: 10em;
  width: 10em;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  align-self: center;
}

.score {
  font-size: 4em;
}

.score__sub {
  opacity: var(--opacity);
}

.container-left__grade {
  /* margin-top: 1em; */
  text-align: center;
}

.grade__heading {
  font-size: 1.4em;
  padding: 1em;
}

.grade__description {
  opacity: var(--opacity);
}
