:root {
  --primary-color: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
}

@font-face {
  src: url(https://fonts.google.com/specimen/Montserrat);
  font-family: Montserrat;
}

body {
  font-size: 14px;
  display: flex;
  place-items: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
}

.container {
  height: 450px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  border-radius: 1em;
  background-color: white;
}

.container-item {
  flex: 1 1 0;
}

.container-left {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: contain;
  height: 100%;
  border-radius: 1em 0 0 1em;
}

.container-right__content {
  padding: 2.5em 2.28em 2.28em 2.28em;
}

.title {
  opacity: 0.8;
}

.heading {
  margin: 0.5em auto;
  font-size: 2em;
  font-weight: 700;
}

.description {
  line-height: 1.5;
  opacity: 0.7;
}

.price {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  align-items: center;
}

.current-price {
  color: var(--primary-color);
  font-size: 2em;
}

.original-price {
}

.action-button {
  display: flex;
  place-content: center;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  padding: 1em;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-top: 2.3em;
  cursor: pointer;
  border: none;
  font-size: 1em;
}

.action-button > img {
  height: auto;
  width: auto;
  margin-right: 1em;
}
.cta {
}
